@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hyderabad,India
</address>

<address>
    
    <strong>Mail Id:</strong>   <a href="mailto:hitesh0603jain@gmail.com">hitesh0603jain@gmail.com</a><br />
    <strong>Phone No:</strong>   <label>+91-9694815312</label>
    
</address>